<section class="welcome-section">

</section>
<div class="container">
    <section class="data-section">
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-c-green update-card">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <h4 countUp [endVal]="totalMessages" class="text-white">0</h4>

                                <h6 class="text-white m-b-0">Total Messages</h6>
                            </div>
                            <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas id="update-chart-2" height="100" width="98" style="display: block; height: 50px; width: 49px;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>refresh: 3
                            seconds</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-c-yellow update-card">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <h4 countUp [endVal]="totalUsers" class="text-white">0</h4>
                                <h6 class="text-white m-b-0">Total Users</h6>
                            </div>
                            <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas id="update-chart-1" height="100" style="display: block; height: 50px; width: 55px;"
                                    width="110"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>refresh: 3
                            seconds</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-c-lite-green update-card">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <h4 class="text-white">22,239</h4>
                                <h6 class="text-white m-b-0">Viewers</h6>
                            </div>
                            <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas id="update-chart-4" height="100" width="98" style="display: block; height: 50px; width: 49px;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>refresh:
                            30 seconds</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-c-pink update-card">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <h4 class="text-white">16,322</h4>
                                <h6 class="text-white m-b-0">Chatters</h6>
                            </div>
                            <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas id="update-chart-3" height="100" width="98" style="display: block; height: 50px; width: 49px;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>refresh:
                            30 seconds</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="chart-box">
                    <canvas baseChart [datasets]="topMessagesChart.datasets" [labels]="topMessagesChart.labels"
                        [options]="topMessagesChart.options" [colors]="topMessagesChart.datasets[0]?.backgroundColor"
                        [chartType]="topMessagesChart.type"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="chart-box">
                    <canvas baseChart [datasets]="topUsersChart.datasets" [labels]="topUsersChart.labels" [options]="topUsersChart.options"
                        [colors]="topUsersChart.datasets[0]?.backgroundColor" [chartType]="topUsersChart.type"></canvas>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-section">

    </section>