<section class="welcome-section">

</section>
<div class="container">
    <section class="data-section">
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-c-green update-card">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <mat-progress-spinner *ngIf="loadingTotalMessages" class="white-spinner" mode="indeterminate"
                                    strokeWidth=3 diameter=30></mat-progress-spinner>
                                <h4 *ngIf="!loadingTotalMessages" countUp [endVal]="totalMessages" class="text-white">0</h4>
                                <h6 class="text-white m-b-0">Total Messages</h6>
                            </div>
                            <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas height="100" width="98" style="display: block; height: 50px; width: 49px;"
                                    baseChart [datasets]="cardCharts[0]?.datasets" [labels]="cardCharts[0]?.labels"
                                    [options]="cardCharts[0]?.options" [colors]="cardCharts[0]?.datasets[0]?.backgroundColor"
                                    [chartType]="cardCharts[0]?.type"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>refresh: 3
                            seconds</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-c-yellow update-card">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <mat-progress-spinner *ngIf="loadingTotalUsers" class="white-spinner" mode="indeterminate"
                                    strokeWidth=3 diameter=30></mat-progress-spinner>
                                <h4 *ngIf="!loadingTotalUsers" countUp [endVal]="totalUsers" class="text-white">0</h4>
                                <h6 class="text-white m-b-0">Total Users</h6>
                            </div>
                            <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas height="100" width="98" style="display: block; height: 50px; width: 49px;"
                                    baseChart [datasets]="cardCharts[1]?.datasets" [labels]="cardCharts[1]?.labels"
                                    [options]="cardCharts[1]?.options" [colors]="cardCharts[1]?.datasets[0]?.backgroundColor"
                                    [chartType]="cardCharts[1]?.type"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>refresh: 3
                            seconds</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-c-lite-green update-card">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <mat-progress-spinner *ngIf="loadingViewers" class="white-spinner" mode="indeterminate"
                                    strokeWidth=3 diameter=30></mat-progress-spinner>
                                <h4 *ngIf="!loadingViewers" class="text-white">22,239</h4>
                                <h6 class="text-white m-b-0">Viewers</h6>
                            </div>
                            <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas height="100" width="98" style="display: block; height: 50px; width: 49px;"
                                    baseChart [datasets]="cardCharts[2]?.datasets" [labels]="cardCharts[2]?.labels"
                                    [options]="cardCharts[2]?.options" [colors]="cardCharts[2]?.datasets[0]?.backgroundColor"
                                    [chartType]="cardCharts[2]?.type"></canvas> </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>refresh:
                            30 seconds</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-c-pink update-card">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <mat-progress-spinner *ngIf="loadingChatters" class="white-spinner" mode="indeterminate"
                                    strokeWidth=3 diameter=30></mat-progress-spinner>
                                <h4 *ngIf="!loadingChatters" countUp [endVal]="chatterCount" class="text-white">0</h4>
                                <h6 class="text-white m-b-0">Chatters</h6>
                            </div>
                            <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas height="100" width="98" style="display: block; height: 50px; width: 49px;"
                                    baseChart [datasets]="cardCharts[3]?.datasets" [labels]="cardCharts[3]?.labels"
                                    [options]="cardCharts[3]?.options" [colors]="cardCharts[3]?.datasets[0]?.backgroundColor"
                                    [chartType]="cardCharts[3]?.type"></canvas> </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>refresh:
                            30 seconds</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="chart-box">
                    <canvas baseChart [datasets]="topMessagesChart.datasets" [labels]="topMessagesChart.labels"
                        [options]="topMessagesChart.options" [colors]="topMessagesChart.datasets[0]?.backgroundColor"
                        [chartType]="topMessagesChart.type"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="chart-box">
                    <canvas baseChart [datasets]="topUsersChart.datasets" [labels]="topUsersChart.labels" [options]="topUsersChart.options"
                        [colors]="topUsersChart.datasets[0]?.backgroundColor" [chartType]="topUsersChart.type"></canvas>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-section">

    </section>